$def with (room)

$if room.name == "death":
    <h1> $room.quip </h1>
$else:
    <h1> $room.name </h1>

<pre>
$room.description

$if room.name == "Laser Weapon Armory":
    <em>Tries so far: $room.counter</em>

$if room.errors:
    <p>I didn't understand some of those words... try again.</p>
</pre>



$if room.name == "death" or room.name == "The End":
    <p><a href="/">Play Again?</a></p>
$else:
    <p>

    <button type="button" onclick="alert('$room.get_hint()')">Hint</button>

    <form action="/game" method="POST">
        - <input type="text" name="action"> <input type="SUBMIT" value="Go!">
	</form>
	</p>